---
title: Phirestream
heading: Phirestream
layout: product
description: Redact PHI and PII from Apache Kafka data streams.
featured_image: /images/phirestream-logo-transparent.png
redirect_from: /products/phirestream/
faq:
  - question: How does Phirestream work?
    answer: Phirestream works with Apache Kafka to redact data as it streams through Apache Kafka topics.
  - question: Does Phirestream work with Amazon MSK?
    answer: Yes, Phirestream works with Amazon MSK, Microsoft Azure HDInsights, and other Apache Kafka managed services.
  - question: Can I control how PHI and PII is redacted?
    answer: Yes, Phirestream gives you full control over how data is redacted, anonymized, encrypted, or replaced.
  - question: How do I get started using Phirestream?
    answer: Select your cloud provider below and follow the steps to deploy Phirestream in your cloud!
clouds:
  - question: Amazon Web Services
    answer: <a href="#">See Phirestream on the AWS Marketplace.</a>
  - question: Google Cloud
    answer: <a href="#">See Phirestream on the Google Cloud Marketplace.</a>
  - question: Microsoft Azure
    answer: <a href="#">See Phirestream on the Microsoft Azure Marketplace.</a>
  - question: Other?
    answer: Need a platform not listed here? Contact us at <a href="mailto:support@mtnfog.com">support@mtnfog.com</a>.
---

<div class="content">
	<section>
		<div class="container flex">
			<div class="text">
				<h1>Redact PHI and PII from <strong>Apache Kafka</strong> data</h1>
				<p>Phirestream redacts PHI and PII from Apache Kafka data streams. With Phirestream you can keep sensitive information out of your data pipelines.</p>
				<p>Phirestream runs entirely in your own cloud. Your data never leaves your network.</p>
				<a href="https://docs.mtnfog.com/phirestream/introduction/getting-started">Quick Start</a> | <a href="https://docs.mtnfog.com/phirestream">User's Guide</a>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/kafka.jpg" alt="Phirestream works with Apache Kafka." title="Phirestream works with Apache Kafka." class="screenshot" />
			</div>
		</div>
	</section>
</div>

<table width="100%"cellpadding="10" cellspacing="10">
	<tbody>
	<tr>
		<td><a href="http://aws.amazon.com/marketplace/pp/B09FFJQ2VP"><img style="object-fit:
		contain" title="Launch Phirestream on Amazon Web Services via the AWS Marketplace" src="/images/aws.gif"
																		   alt="Launch Phirestream on Amazon Web Services via the AWS Marketplace" width="179" height="109" /></a></td>
		<td><a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/mtnfog.phirestream?tab=Overview"><img
				style="object-fit: contain" title="Launch Phirestream on Microsoft Azure via the Azure Marketplace"
				src="/images/azure.png" alt="Launch Phirestream on Microsoft Azure via the Azure Marketplace" width="187"
				height="35"
		/></a></td>
		<td><a href="https://console.cloud.google.com/marketplace/product/mountainfog-public/phirestream"><img
				style="object-fit: contain" title="Launch Phirestream on Google Cloud via the Google Cloud Marketplace"
				src="/images/google-cloud.jpg" alt="Launch Phirestream on Google Cloud via the Google Cloud Marketplace" width="272"
				height="56" /></a></td>
	</tr>
	</tbody>
</table>

<div class="content">
	<section>
		<div class="container flex">
			<div class="image">
				<img src="{{ site.baseurl }}/images/phirestream-block-diagram.png" alt="Phirestream works with Apache Kafka to redact streaming text" title="Phirestream works with Apache Kafka to redact streaming text" class="screenshot" />
			</div>
			<div class="text">
				<h2>Works with <strong>Apache Kafka</strong></h2>
				<p>Phirestream can redact PHI and PII as it moves through your Apache Kafka streams, helping to keep sensitive information out of your Kafka topics.</p>
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text">
				<h2>Phirestream runs in <strong>your</strong> cloud</h2>
				<p>Phirestream runs in your cloud for optimal data security. Your data never leaves your cloud. It's your data - keep it away from third parties.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/cloud.png" alt="Phirestream runs entirely within your own cloud for maximum data security." title="Phirestream runs entirely within your own cloud for maximum data security." class="screenshot" />
			</div>
		</div>
	</section>
</div>

{% if page.faq %}
<h3>Phirestream FAQ</h3>
<dl class="faq">
	{% for item in page.faq %}
	<div>
		<dt>{{ item.question }}</dt>
		<dd>{{ item.answer }}</dd>
	</div>
	{% endfor %}
</dl>
{% endif %}

<table width="100%"cellpadding="10" cellspacing="10">
	<tbody>
	<tr>
		<td><a href="http://aws.amazon.com/marketplace/pp/B09FFJQ2VP"><img style="object-fit:
		contain" title="Launch Phirestream on Amazon Web Services via the AWS Marketplace" src="/images/aws.gif"
																		   alt="Launch Phirestream on Amazon Web Services via the AWS Marketplace" width="179" height="109" /></a></td>
		<td><a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/mtnfog.phirestream?tab=Overview"><img
				style="object-fit: contain" title="Launch Phirestream on Microsoft Azure via the Azure Marketplace"
				src="/images/azure.png" alt="Launch Phirestream on Microsoft Azure via the Azure Marketplace" width="187"
				height="35"
		/></a></td>
		<td><a href="https://console.cloud.google.com/marketplace/product/mountainfog-public/phirestream"><img
				style="object-fit: contain" title="Launch Phirestream on Google Cloud via the Google Cloud Marketplace"
				src="/images/google-cloud.jpg" alt="Launch Phirestream on Google Cloud via the Google Cloud Marketplace" width="272"
				height="56" /></a></td>
	</tr>
	</tbody>
</table>