---
title: Philter
heading: Philter
layout: product
description: Redact PHI and PII from text and documents.
featured_image: /images/philter-logo-transparent.png
redirect_from: /products/philter/
faq:
  - question: How does Philter work?
    answer: Philter has an API for document and text redaction. Simply submit your text and get the redacted text back.
  - question: How do I use Philter?
    answer: Philter has opensource SDKs for Java, .NET, and Golang. It's easy to make your own client or just use Philter through its command line tools.
  - question: Can I control how PHI and PII is redacted?
    answer: Yes, Philter gives you full control over how data is redacted, anonymized, encrypted, or replaced.
  - question: How do I get started using Philter?
    answer: Select your cloud provider below and follow the steps to deploy Philter in your cloud!
clouds:
  - question: Amazon Web Services
    answer: <a href="#">See Philter on the AWS Marketplace.</a>
  - question: Google Cloud
    answer: <a href="#">See Philter on the Google Cloud Marketplace.</a>
  - question: Microsoft Azure
    answer: <a href="#">See Philter on the Microsoft Azure Marketplace.</a>
  - question: Other?
    answer: Need a platform not listed here? Contact us at <a href="mailto:support@mtnfog.com">support@mtnfog.com</a>.
---

<div class="content">
	<section>
		<div class="container flex">
			<div class="text">
				<h2>Redact PHI and PII from <strong>text and documents</strong></h2>
				<p>Philter redacts PII and PHI from documents to help you maintain HIPAA compliance, meet industry regulations, and leverage your documents for valuable secondary purposes.</p>
				<p>Philter features a redaction API that identifies and redacts PHI and PII from text and documents. Philter runs entirely in your own cloud. Your data never leaves your network.</p>
				<a href="https://philter.mtnfog.com/introduction/quick-start">Quick Start</a> | <a href="https://philter.mtnfog.com">User's Guide</a> | <a href="/philter/release-notes">Release Notes</a>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/redacted-line.png" alt="Philter redacts documents and text" title="Philter redacts documents and text" class="screenshot" />
			</div>
		</div>
	</section>
</div>

<table width="100%"cellpadding="10" cellspacing="10">
	<tbody>
	<tr><td colspan="3" align="center">Click your cloud below to launch Philter in just a few clicks!</td> </tr>
	<tr>
		<td><a href="https://aws.amazon.com/marketplace/pp/B07YVB8FFT?ref=_ptnr_mf_launch"><img style="object-fit:
		contain" title="Launch Philter on Amazon Web Services via the AWS Marketplace" src="/images/aws.gif"
																								alt="Launch Philter on Amazon Web Services via the AWS Marketplace" width="179" height="109" /></a></td>
		<td><a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/mtnfog.philter"><img
				style="object-fit: contain" title="Launch Philter on Microsoft Azure via the Azure Marketplace"
				src="/images/azure.png" alt="Launch Philter on Microsoft Azure via the Azure Marketplace" width="187"
				height="35"
		/></a></td>
		<td><a href="https://console.cloud.google.com/marketplace/details/mountainfog-public/philter"><img
				style="object-fit: contain" title="Launch Philter on Google Cloud via the Google Cloud Marketplace"
				src="/images/google-cloud.jpg" alt="Launch Philter on Google Cloud via the Google Cloud Marketplace" width="272" height="56" /></a></td>
	</tr>
	</tbody>
</table>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text">
				<h2>Philter runs in <strong>your</strong> cloud</h2>
				<p>Philter runs in your cloud for optimal data security. Your data never leaves your cloud. It's your data - keep it away from third parties.</p>
				<p>Whether its patient healthcare, legal, or other type of document, Philter can redact it without ever needing your data to leave your private cloud.</p>
			</div>
			<div class="image">
				<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/p2f8o7KEB3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
				<img src="{{ site.baseurl }}/images/filtered.jpeg" alt="Philter can redact legal documents in PDF format." title="Philter can redact legal documents in PDF format." class="screenshot" />
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="image">
				<img src="{{ site.baseurl }}/images/hipaa_compliance_banner.png" alt="Philter can help you maintain HIPAA compliance." title="Philter can help you maintain HIPAA compliance." class="screenshot" />
			</div>
			<div class="text">
				<h2>Keep <strong>PHI and PII</strong> out of your data processing pipelines</h2>
				<p>Philter can redact, anonymize, tokenize, and encrypt PHI and PII to help keep your data pipelines free of sensitive information and maintain your organization's HIPAA compliance.</p>
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text">
				<h2>Works with <strong>Apache NiFi</strong> to redact data in motion</h2>
				<p>As a Cloudera partner, Philter works with Cloudera DataFlow. Philter can redact sensitive information inside your Apache NiFi data flows.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/philter-nifi-flow.png" alt="Philter works with Apache NiFi to redact text in data flows." title="Philter works with Apache NiFi to redact text in data flows." class="screenshot" />
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="image">
				<img src="{{ site.baseurl }}/images/philter-word-addin-screenshot.png" alt="Redact text in your Microsoft Office documents." title="Redact text in your Microsoft Office documents." class="screenshot" />
			</div>
			<div class="text">
				<h2>Add-Ins for Redacting <strong>Microsoft Office</strong> documents</h2>
				<p>The Philter Add-Ins for Microsoft Office allow you to redact your Microsoft Word documents and Microsoft Excel spreadsheets.</p>
				<i class="fa fa-arrow-right"></i> <a href="/philter/ms-office-add-ins">Learn more about the add-ins</a>
			</div>
		</div>
	</section>
</div>

<section>
	<div class="container flex">
		<div class="text">
			<h2>Contact us for a <strong>free</strong> demo</h2>
			<p>Want to see a live demo of how Philter can redact PII and PHI? Get in touch!</p>
		</div>
		<div class="image">
			<form action="https://www.mtnfog.com/cgi-bin/mail.cgi" method="post">
				<div align="center">
					<table cellpadding="3" cellspacing="3" border="0"><tr>

						<td align="right">Name:</td>
						<td align="left">
							<input type="text" name="name" size="30" maxlength="50" required>
						</td></tr><tr>

						<td align="right">Email:</td><td align="left">
						<input type="text" name="email" size="30" maxlength="50" required>
					</td></tr><tr>

						<td align="center" colspan="2">
							<input class="button" type="submit" name="submit" value="Send">
						</td></tr>

					</table>
				</div>
			</form>
		</div>
	</div>
</section>

{% if page.faq %}
	<h3>Philter Frequently Asked Questions</h3>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}

<table width="100%"cellpadding="10" cellspacing="10">
	<tbody>
	<tr><td colspan="3" align="center">Click your cloud below to launch Philter in just a few clicks!</td> </tr>
	<tr>
		<td><a href="https://aws.amazon.com/marketplace/pp/B07YVB8FFT?ref=_ptnr_mf_launch"><img style="object-fit:
		contain" title="Launch Philter on Amazon Web Services via the AWS Marketplace" src="/images/aws.gif"
																								alt="Launch Philter on Amazon Web Services via the AWS Marketplace" width="179" height="109" /></a></td>
		<td><a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/mtnfog.philter"><img
				style="object-fit: contain" title="Launch Philter on Microsoft Azure via the Azure Marketplace"
				src="/images/azure.png" alt="Launch Philter on Microsoft Azure via the Azure Marketplace" width="187"
				height="35"
		/></a></td>
		<td><a href="https://console.cloud.google.com/marketplace/details/mountainfog-public/philter"><img
				style="object-fit: contain" title="Launch Philter on Google Cloud via the Google Cloud Marketplace"
				src="/images/google-cloud.jpg" alt="Launch Philter on Google Cloud via the Google Cloud Marketplace" width="272" height="56" /></a></td>
	</tr>
	</tbody>
</table>