---
title: Philter Add-Ins for Microsoft Office
heading: Philter Add-Ins for Microsoft Office
layout: product
description: Use Philter to redact text in Microsoft Office documents.
featured_image: /images/philter-logo-transparent.png
redirect_from: /products/philter/office-add-ins/
faq:
  - question: What are the Philter Add-Ins for Microsoft Office?
    answer: These add-ins are available for Microsoft Word and Microsoft Excel to enable redaction using Philter.
  - question: What do I need to use these add-ins?
    answer: You need an available instance of Philter. You can launch an instance in your favorite <a href="/philter">cloud</a> today.
  - question: How much do the add-ins cost.
    answer: Nothing. The add-ins are available for free to users of Philter.
  - question: How do I get help using the add-ins?
    answer: Please check out our <a href="/support">Support</a> resources.
---

<div class="content">
	<section>
		<div class="container flex">
			<div class="text">
				<h2>Redact PHI and PII from <strong>Microsoft Office</strong> documents</h2>
				<p>The Philter Add-Ins for Microsoft Office provide add-ins for Microsoft Word and Microsoft Excel to redact your documents.</p>
				<p>The add-ins are available for free to Philter users. Contact us to get started.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/philter-word-addin-screenshot.png" alt="Redact text in your Microsoft Office documents." title="Redact text in your Microsoft Office documents." class="screenshot" />
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="image">
				<img src="{{ site.baseurl }}/images/philter-addin-excel.png" alt="Redact text in your Microsoft Office documents." title="Redact text in your Microsoft Office documents." class="screenshot" />
			</div>
			<div class="text">
				<h2>Works with <strong>Microsoft Word and Microsoft Excel</strong> documents</h2>
				<p>The add-ins work with Philter to redact text in your Microsoft Word documents and Microsoft Excel spreadsheets. Redact your documents from right inside Microsoft Office.</p>
			</div>
		</div>
	</section>
</div>

{% if page.faq %}
	<h3>Philter Add-Ins for Microsoft Office Frequently Asked Questions</h3>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}